/* Base styles */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
    color : #efefef;
    font-family: Roboto;
    background-color : #333;
    font-size: 14px;
}
section {
    font-family: Roboto;
}

a {
    color : #3689B2;
    text-decoration: none;
}
a:hover {
    color : #7EB0C9;
    transition: color 0.5s ease;
}

section h1,
section h2,
section h3 {
    font-family: Orbitron;
    color : #7EB0C9;
}

section h1 {
    font-size : 2.2em;
    text-align: center;
}
section h2 {
    font-size: 1.8em;
}
section h3 {
    font-size: 1.5em;
}

/* Header and navigation */

header {
    position: relative;
    height: 100px;
    background-color: #222;
    box-shadow: 0 1px 10px #111;
}

header nav {
    position: relative;
    height: 100px;
    top: -100px;
    margin-left: 250px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items : stretch;
}

header nav a {
    font-size: 1.3em;
    font-family: Orbitron;
    padding: 20px 1em 0 1em;
    border-top:solid 5px transparent;
}
header nav a:hover,
header nav a.active{
    color : #7EB0C9;
    border-top:solid 5px #7EB0C9;
    transition: all 0.75s ease;
}
header nav a > span{
    display: block;
    text-align: center;
    margin: 0 0 .75em 0;
}
@media all and (max-width: 900px) {
    header nav {
        justify-content: space-around;
    }
}
@media all and (max-width: 700px) {
    header {
        height: auto;
    }
    header nav {
        top: 0;
        margin: 0;
        height: auto;
        flex-flow: column nowrap;
    }
    header nav a{
        padding: 1em 0 1em 2em;
        border-top: solid 1px #333;
        border-left:solid 5px transparent;
    }
    header nav a:hover,
    header nav a.active{
        border-top: solid 1px #333;
        border-left:solid 5px #7EB0C9;
    }
    header nav a span{
        display: inline;
        margin: 0 .75em 0 0;
    }
}

/* Home intro */

.intro {
    margin: 3em 1em 1em 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items : center;
}

.intro > div:first-child {
    flex: 3 0 0;
}

.intro > div:first-child p{
    font-size: 2em;
    color: #666;
    text-shadow: 1px 1px rgba(25, 25, 25, .7);
    background-color: #cfcfcf;
    border-radius: 3px;
    border: solid 2px #cfcfcf;
    padding: .5em;
}

.intro > div:last-child {
    flex: 2 0 0;
    text-align: center;
    padding: .5em;
}

.intro > div:last-child a {
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: .5em;
    border: solid 2px #3689B2;
    border-radius: 4px;
    background: transparent;
    color : #3689B2;
    font-family: Orbitron;
    font-size: 1.8em;
    text-align: center;
}
.intro > div:last-child a > span{
    margin-right: .5em;
}

.intro > div:last-child a:before{
   position:absolute;
   top: calc(50% - .5em);
   left: calc(50% - .5em);
   width: 1em;
   height: 1em;
   content: ' ';
   background-color:#ccc;
   opacity: 0;
   border-radius: 100%;
}

.intro > div:last-child a:focus{
  color : #7EB0C9;
}

.intro > div:last-child a:focus:before{
  animation: scaling-circle 2s;
}

@keyframes scaling-circle {
    0% {
      transform: scale(1);
      opacity: .5;
    }
    75% {
      transform: scale(100);
    }
    100% {
       opacity: 0;
    }
}

@media all and (max-width: 700px) {
    .intro {
        flex-flow: column nowrap;
    }

    .intro > div {
        flex: 1 0 0;
        margin-bottom: 1em;
    }
}

.technos h1 {
    text-align: center;
    font-size: 32px;
    padding: 20px 0;
    color : #7EB0C9;
}
.technos ul {
    text-align: center;
}
.technos ul li {
    display : inline-block;
    padding: 15px;
}

@media all and (max-width: 900px) {
    .technos ul li img{
        width: 150px;
    }
}
@media all and (max-width: 700px) {

    .technos ul li img{
        width: 100px;
    }
}
