html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
    color : #efefef;
    font-family: Roboto;
    background-color : #333;
    font-size: 14px;
}
section {
    font-family: Roboto;
}

a {
    color : #3689B2;
    text-decoration: none;
}
a:hover {
    color : #7EB0C9;
    transition: color 0.5s ease;
}

section h1,
section h2,
section h3 {
    font-family: Orbitron;
    color : #7EB0C9;
}

section h1 {
    font-size : 2.2em;
    text-align: center;
}
section h2 {
    font-size: 1.8em;
}
section h3 {
    font-size: 1.5em;
}

header {
    position: relative;
    height: 100px;
    background-color: #222;
    box-shadow: 0 1px 10px #111;
}

header nav {
    position: absolute;
    height: 100px;
    right: 0;
    top : 0;
}
header nav ul {
    list-style-type: none;
    height: 100px;
}

header nav ul li {
    display: inline-block;
    height: 100px;
    line-height: 100px;
    padding: 0 1.5em;
    border-top: solid 5px transparent;

}
header nav ul li a {
    font-size: 1.3em;
    font-family: Orbitron;
}
header nav ul li:hover {
    cursor: pointer;
    border-top:solid 5px #7EB0C9;
    transition: border-top 0.75s ease;
}
header nav ul li:hover a {
    color : #7EB0C9;
    transition: color 0.5s ease;
}

.desc {
    margin:2em 1em;
    padding: .5em;
    font-size: 24px;
    background-color: #cfcfcf;
    color: #555;
    line-height: 30px;
    border-radius: 3px;
    overflow: hidden;
    font-style: italic;
    font-weight: bold;
}
.desc img {
    float: left;
    margin:0 .5em;
}

.technos h1 {
    text-align: center;
    font-size: 32px;
    padding: 20px 0;
    color : #7EB0C9;
}
.technos ul {
    text-align: center;
}
.technos ul li {
    display : inline-block;
    padding: 15px;
}
