html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
    color : #efefef;
    background-color : #333;
}

a {
    color : #3689B2;
    text-decoration: none;
}
a:hover {
    color : #7EB0C9;
    transition: color 0.5s ease;
}

header {
    position: relative;
    height: 100px;
    background-color: #222;
    box-shadow: 0 1px 10px #111;
}

header nav {
    position: absolute;
    height: 100px;
    right: 0;
    top : 0;
}
header nav ul {
    list-style-type: none;
    height: 100px;
}

header nav ul li {
    display: inline-block;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
    border-top:solid 5px transparent;
}

header nav ul li:hover {
    cursor: pointer;
    border-top:solid 5px #7EB0C9;
 /*#3A7492;*/
    transition: border-top 0.75s ease;
}
header nav ul li:hover a {
    color : #7EB0C9;
    transition: color 0.5s ease;
}

.pres p {
    font-size: 20px;
    margin: 50px 100px;
    background-color: #bbb;
    color: #222;
    padding: 20px;
    line-height: 30px;
    border-radius: 2px;
}
